# dependencies
node_modules

# output
build
dist
.output
.vercel
.netlify
.astro
.wrangler
.workers-build
.svelte-kit
.turbo

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# crate target
packages/photon/crate/target
packages/png/crate/target

# misc
.DS_Store

# cert
.cert

# debugs
npm-debug.log
yarn-error.log
yarn.lock
.yarnclean

# private
*.log
*.key
*.crt

# inline modules
packages/**/lib/*.inline.*
