# dependencies
node_modules/
package-lock.json

# production
dist/
typings/
packages/photon/src/lib/
packages/png/src/lib/

# crate
packages/**/*/crate/

# wrangler
.wrangler/

# turbo
.turbo/

# markdown
*.md

# yml
*.yml
