---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <p>
      <a href="/og?name=SvelteKit">@cf-wasm/og example</a> Renders react node into
      image
    </p>
    <p><a href="/resvg">@cf-wasm/resvg example</a> Renders SVG into PNG</p>
    <p>
      <a href="/photon?scale=50">@cf-wasm/photon example</a> Resizes image based
      on scale param
    </p>
  </body>
</html>
